@model MonPointOfSaleFinal.Entities.Models.Product

<div class="card mb-3 col-md-4">
    <div class="card-header">
        <h5>@Model.ProductName</h5>
        <h6>Category : @Model.category.CategoryName / Price : @Model.DefaulPrice</h6>
    </div>
    <div class="card-body">
        @if (Model.ProductImage == null || Model.ProductImage == "")
        {

            <img src="\Images\ProductsImages\no-image.png" alt="NOImage" width="100%" height="100%" />
        }
        else
        {
            <img src="@Model.ProductImage" alt="NOImage" width="100%" height="100%" />
        }
    </div>
    <div class="card-footer text-center">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
    </div>
</div>