@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    @string.Join(", ", item.UserRoles)
            </td>
            <td>
                    <a class="btn btn-outline-dark" asp-action="ManageRoles" asp-route-userId="@item.Id">Manage roles</a>
            </td>
        </tr>
}
    </tbody>
</table>
